{% if isLogged == "yes"%}
    {% extends 'base2.html' %}
{% else %}
    {% extends 'base.html' %}
{% endif %}

{% block body %}
<!-- <h1> Successfully added to cart!</h1> -->



<table class="table table-striped">
    <tr><th>Melon Name</th><th>Quantity</th><th>Price</th><th>Total</th></tr>


    {% for melon_kind, melon_information in melon_info.iteritems() %}
        <tr><td>{{ melon_kind }}</td><td> {{ melon_information[0] }} </td><td> {{ melon_information[1].price_str() }} </td><td> {{ melon_information[3]}}</td></tr>

    {% else %}
        There are no melons in your cart.
    {% endfor %}

</table>
<h3>Total: {{total}}</h3>
<a href="/checkout" class="btn btn-large btn-primary">Check Out</a>


{% endblock %}
